html 
{
    
    font-family :  "Open Sans", sans-serif;
        
        }

body{
    background-color: rgb(222, 217, 196,0.5);
 }
 hr{
    background-color: rgb(238, 228, 171);
    border-style: none;
    height: 2px;
    width: 30%;
 }
 }
 h1{
   color: rgb(95, 113, 97);
 }
 img{
    height: 120px;
 }
 }

 #collage,#coursera,#binge,#listen,#reading,#vsco,#linkedin:link{
   color: rgb(169, 113, 85);
 }
 #collage,#coursera,#binge,#listen,#reading,#vsco,#linkedin:visited{
   color: rgb(190, 140, 99);
 }
